<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On Road Fuel Demand</title>

</head>
<body>
    
    <div class="box">
        <h1>On Road Fuel Demand</h1>
        <form action="/sendDetail">
        <div class="login">
            <div class="detai">
                <span>Name : </span><input type="text" name="name" >
            </div>
            <div class="detai">
                <span>Mobile  : </span><input type="text"  name="Mobile">
            </div>
            <div class="detai">
                <span>Where you are : </span><input type="text" name="Add" >
            </div>
            <div class="detai">
                <span>Vehicle Number : </span><input type="text"  name="Vno">
            </div>
            <div class="detai">
                <span>petrol : </span><input type="text" name="petrol" >
            </div>

            <div class="btn">
                <input type="submit" value="Send Details">
            </div>
        </div>
        </form>
    </div>
</body>
</html>