<link rel="stylesheet" href="../../style.css">

<div class="heading">
    <h1>On Road Fuel Demand</h1>
  </div>
  <div class="website">
    <div class="navbar">
      <div class="ab-link">
        <ul type="none">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact_us">Contact Us</a></li>
            <li><a href="#fuelPrice">Fuel Price</a></li>
            <li><a href="/login">More Details </a></li>
          </ul>
      </div>


      <div class="btns">
        <a href="/"
          ><input type
          ="button" value="HOME" class="btns"
        /></a>
      </div>
    </div>